fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
redis
pydantic-settings
types-redis
alembic
psycopg2-binary
httpx
aiohttp
pandas
numpy
text-unidecode
python-multipart
python-jose[cryptography]
passlib[recommended]
bcrypt
python-dotenv
celery
beautifulsoup4
TA-Lib
